/* h1 - do not do because h1 can be different in different headers */
/* #logo-text - id selector.. starts with # and matches with id attribute.. but not all browsers work like this */
/* for any class selector, it starts with a . and matches any element that has that class name. When using class names, you start to build it in categories.. */
.header-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logo-text
{
    /* color -- property game  rgba -- value (red, green, blue, alpha(transparency) [0 - 1.0]) */
    color: rgba(61, 36, 36, 0.9); 
    /* font-size: 1.5rem; */
    /* font-size: 1.5em; */
    font-size: 25px;
}
.nav-text
{
    color: rgba(87, 90, 89, 0.9);
    font-size: 10px;
    text-decoration: none;
}