/* h1 - do not do because h1 can be different in different headers */
/* #logo-text - id selector.. starts with # and matches with id attribute.. but not all browsers work like this */
/* for any class selector, it starts with a . and matches any element that has that class name. When using class names, you start to build it in categories.. */


@keyframes zoom {
    0% {
        transform: scale(1);
        /* transform: rotate(0deg); */
    }
    50% {
        transform: scale(5.5);
        /* transform: rotate(120deg); */
    }
    100% {
        transform: scale(1.5);
        /* transform: rotate(360deg); */
    }
}


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body{
    padding: 0;
    margin: 0;
}

body{
    /* outline: 3px, solid, black; */
}


.header-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding-left: 8px;
    padding-right: 8px; */
    padding: 0 8px;
}


.logo-text
{
    /* color -- property game  rgba -- value (red, green, blue, alpha(transparency) [0 - 1.0]) */
    color: rgba(20, 22, 24, 0.966); 
    /* font-size: 1.5rem; */
    /* font-size: 1.5em; */
    font-size: 30px;
    display: inline-block;
    /* outline is broken into thickness, shape, color */
    /* outline: 5px solid black; */
    margin-right: 10px;
    padding-right: 25px;
    /* background: black */
}


.nav-container {
    /* display: inline-block; */
    display: none;
    margin-right: 35px;
}


.nav-text
{
    color: rgba(87, 90, 89, 0.9);
    padding-right: 8px;
    font-size: 15px;
    text-decoration: none;
}


.wolf-image{
    /* Because the image is in a different folder,
    must use ../ images/filename */
    background-image: url(../images/fog-foggy-hazy-89773.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* background-attachment: fixed; */
    min-height: 500px;
    min-width: 100%;
}


.wolf-text{
    font-family: 'Homemade Apple', cursive;
    font-size: 25px;
    opacity: 0.3;
}


.center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-me{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 10px;
}

.profile-image{
    width: 400px;
    margin: 0 auto;
    padding-top: 15px;
}


.profile-image img{
    width: 100%;
    border-radius: 50%;
}


.contact-links {
    background: rgba(0, 0, 0, 0.25);
    padding: 8px 12px;
    /* color: white; */
    display: flex;
    justify-content:flex-end;
}

.contact-links a{
    margin: 0 6px;
}


.contact-links .fab,
.contact-links .fas{
    color: white;
    margin: 0 10px;
    font-size: 25px;
    transition: all .5s ease-in-out .15s;
}


.contact-links a:hover .fab,
.contact-links a:hover .fas {
    color: black;
    /* font-size: 40px; */
    /* transform: scale(1.5); */
    animation: zoom;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: infinite; */
}


.contact-links a:hover {
    cursor: pointer;
}

@media screen and (min-width: 550px) {
    .profile-image{
        width: 250px;
        /* outline: 5px solid red; */
    }
    .about-me{
        display: flex;
    }
    .about-me > div{
        /* outline: 1px solid red; */
    }
    .about-me-container{
        width: 70%;
        padding-right: 18px;
    }
}

@media screen and (min-width: 500px) {
    .wolf-text{
        font-size: 70px;
        /* outline: 1px solid red; */
    }

    .header-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-text > * {
        /* outline: 1px solid red; */
    }

    .nav-container {
        display: inline-block;
    }
}
